  body {
    height: 500vh;
    background: #b3d0f1;
  }

  #logo {
    position:fixed;
    bottom:0%;
    right: 0%;
    margin-bottom: -2.5%;
    opacity:0.75;
    z-index: index auto;
    width: 9%;
  }

html {
    scroll-behavior: smooth;
  }

.main {
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-left: 8vh;
  margin-right: 8vh;
 }
.scrollknap {
  bottom: 20px;
  position: absolute;
  left: 49%;
}

  .next:hover {
    background-color: rgba(168, 166, 166, 0.596);
    color: rgb(0, 0, 0);
  }
  
  .next {
    background-color: rgba(245, 245, 245, 0.493);
    color: black;
    text-decoration: none ;
    font-weight: bold;
    display: inline-block;
    padding: 8px 15px;
  }
  
  .round {
    border-radius: 50%;
  }

/*---Section 1----------------------------------------------------------------------------------------------------------------*/
  #head-s1 {
    font-size: 25vh;  
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgb(105, 105, 105);
    text-align: center;
    margin-top: 25vh;
  }

  #text-s1 {
    font-size: 6vh;  
    font-family:Georgia, serif;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgb(105, 105, 105);
    text-align: center;
    margin-top: -20vh;
  }
 
  /*---Section 2--------------------------------------------------------------------------------------------------------------*/
  #text-s2 {
    font-size: 5vh;  
    font-family:Georgia, serif;
    color: whitesmoke;
    margin-top: 5vh;
  }

  .hest{
    width: 180; float: left;
    text-align:right;
  }
  
  #section2{
    display:flex;
    align-items:center;
    justify-content:center;
  }

  #section2-tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    
    pointer-events: none;
  
  }

  #section2-tooltip.hidden {
    display: none;
  }

  .myCircle:hover {
    stroke: black;
  }
  
  #section2-h1{
    position: absolute;
    top: 20%;
  }

  /*---Section 3----------------------------------------------------------------------------------------------------------------*/
  #text-s3 {
    font-size: 5vh;  
    font-family:Georgia, serif;
    color: whitesmoke;
    margin-top: 5vh;
  }
  #sluttemp {
    position: absolute;
    margin-top: 8vh;
    margin-left: 53vh;
  }
  #starttemp {
    position: absolute;
    margin-top: 8vh;
    margin-left: 2vh;
  }

.section3-h2 {
  color: white;
  position: relative;
  top: 9vh;
  margin-bottom: 13vh;
}

  .row {
    display: flex;
    flex-direction: row;
  } 

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  #section3-vl-div {
    border-left: 2px dashed rgb(245, 245, 245);
    height: 341.5px;
    left: 473px;
    position: absolute;
    top: 27.8%;
    }
    
    #section3-vl2-div {
    border-left: 2px solid rgb(245, 245, 245);
    height: 341.5px;
    left: 170px;
    position: absolute;
    top: 27.8%;
    }
  
  /*---Neden sående er kolonnerne-------------------*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  height: 80vh;
}

#c1s3 {
  width: 60%;
}

#c2s3 {
  width: 40%;
}

#c1s4 {
  width: 60%;
}

#c2s4 {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*---Ovenstående er kolonnerne---------------------------*/

  #fish {
    margin-top: 14%;
  } 

  .positive-static {
    display: block;
    margin-top: 7%;
    width: -1%;
    float: left;
    font-family: Georgia, serif;
    font-size: 3vh;
    font-weight: normal;
  }


  .img-s3 {
    width: 10vh;
    float: left;
    padding-right: 2vh;
  } 

  /*---Section 4-------------------------------------------------------------------------------------------------------------*/
 #text-s4 {
   font-size: 5vh;  
   font-family:Georgia, serif;
   color: whitesmoke;
   margin-top: 4vh;
 }

 #p-verden {
  font-size: 4vh;  
  font-family:Georgia, serif;
  color: whitesmoke;
  margin-bottom: -10vh;
 }

 #sluttemp {
  position: absolute;
  margin-top: 8vh;
  margin-left: 53vh;
}
#starttemp {
  position: absolute;
  margin-top: 8vh;
  margin-left: 2vh;
}

.section3-h2 {
color: white;
position: relative;
top: 9vh;
margin-bottom: 13vh;
}

.row {
  display: flex;
  flex-direction: row;
} 

.left {
  float: left;
}
.right {
  float: right;
}
#section4-vl-div2 {
  border-left: 2px dashed rgb(245, 245, 245);
  height: 341.5px;
  left: 473px;
  position: absolute;
  top: 26.8%;
  }
  
  #section4-vl2-div2 {
  border-left: 2px solid rgb(245, 245, 245);
  height: 341.5px;
  left: 170px;
  position: absolute;
  top: 26.8%;
  }

  .flip-box {
    background-color: transparent;
    width: 490px;
    height: 100px;

    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
 .transformed-state .flip-box-inner {
    transform: rotateX(180deg);
  }

  #box1 {
    transition-delay: 1s;
    transition-duration: 1s;
  }
  
  #box2 {
    transition-delay: 2s;
    transition-duration: 1s;
  }
  
  #box3 {
    transition-delay: 3s;
    transition-duration: 1s;
  }

  #box4 {
    transition-delay: 4s;
    transition-duration: 1s;
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-back {
    transform: rotateX(180deg);
  }
  
  .flip-box-all{
    margin-top: 14%;
  } 
  
  .positive-preflip {
    display: block;
    width: -1%;
    margin-top: 3%;
    float: left;
    font-family: Georgia, serif; 
    font-size: 3vh;
    font-weight: normal;
  }
  
  .negative-backflip {
    display: block;
    width: -1%;
    margin-top: 3%;
    color: rgba(255, 0, 0, 0.8);
    float: left;
    font-family: Georgia, serif;
    font-size: 3vh;
    font-weight: normal;
  }

  .img1-s4 {
    width: 10vh;
    float: left;
    padding-right: 2vh;
  } 

  .img2-s4 {
    width: 10vh;
    float: left;
    padding-right: 2vh;
  }

  /*---Section 5---------------------------------------------------------------------------------------------------------------*/
  #head-s5 {  
    font-family:Georgia, serif;
    font-size: 6vh;
    color: whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(105, 105, 105);
    margin-top: 20vh;
  }

  #text-s5 {
    color: whitesmoke;
    font-family:Georgia, serif;
    font-size: 4vh;
    margin-top: 15vh;
    text-align: center;
  }

  .buttons {
    height: 100px;
    width: 170px;
    stroke-width: #fff, 2px;
    transition: all 250ms;
    bottom: 21%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(26, 26, 26);
    border-radius: 50px;
    background-color: #3a9e4e;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.buttons:hover {
    background-color: #2e7e3e; 
    transform: translateY(-3px);
    cursor: pointer;
}

.buttons:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.buttoncontainer {
  display: flex;
  justify-content: center;
}
.buttoncontainer > *:not(:last-child) {
  margin-right: 20vh;
}
/*
#transport {
  left: 18.5%;
}
#politik {
  left: 41.5%;
}
#mad {
  left: 66.5%;
}
*/
#bottomline {
  float: bottom;
  position: relative; 
  bottom: 10%; 
}
#streg {
  color: whitesmoke;
  font-family: Georgia, serif;
  font-size: 5vh;
  margin-top: 1vh;
  text-align: center;
}
#links {
  color: whitesmoke;
  font-family: Georgia, serif;
  font-size: 2vh;
  margin-top: -3vh;
  line-height: 160%;
}
#linkblok {
  display: inline-block;
  color: whitesmoke;
  position: absolute;
}
a {
  color: rgb(33, 50, 146);
}


